@media screen and (max-width:750px){
    header {
        img{
            display: none;
        }
    }
}



@media screen and (min-width:750px){


    nav{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        .menu{
            flex-direction: row;
        }
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.5fr 1fr 0.2fr 0.5fr ;
        grid-template-areas: "head head head"
                             "card1 card2 card3"
                             "card4 card4 card4"
                             "card5 card5 card5"
                             "card6 card7 card8";
    }
    header .info {
        text-align: left;
        flex-direction: row;
        
    }
}
@media screen and (min-width:1200px){

.content {
    padding: 0 20% 0 20%;
    header .info {
        flex-direction: row;
    }
}}