$primary : #fb4c47;
$bodyText : #4B4F51;
$headings : #035755;
$background: #f3f3f3;
$textSizeBody : 18px;
$h1 : 36px;
$h2 : 27px;
$h3 : 20px;
$h4 : 18px;
$normal : 500;
$bold : 700;
$radius : 20px;
$fontFamily : 'Mulish', sans-serif;


